.homeList{
    width: 100%;
}

.header{
    display: flex;
    background-color: #f6f5f6;
    height: 45px;
    width: 100%;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    
}
.header :global(.search){
    height: 30px;
}

.searchHeader{
    position: relative;
    top: 0;
    padding: 0;
}

.houseItems {
    padding: 0 15px;
  }
  
  .loading {
    line-height: 120px;
    text-align: center;
    height: 110px;
    background-color: #f6f5f6;
  }