.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.body {
  flex: 1;
  display: flex;
  flex-shrink: 0;
}
.bottomwrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
.bottom {
  flex: 0;
  border-top: solid 1px var(--adm-color-border);
}

  